.cartcontent_container {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 75px 0;
}

.link_container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.link_btn,
.clear_btn {
  background: transparent;
  border-color: transparent;
  padding: 0.25rem 0.5rem;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  border-radius: var(--radius);
  letter-spacing: var(--spacing);
  font-weight: 400;
  cursor: pointer;
}

.clear_btn {
  background-color: var(--clr-black);
}

.link_btn {
  text-decoration: none;
}
