.about_page_container {
  min-height: calc(100vh- (20vh+150px));
  padding: 75px 0;
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
  display: grid;
  gap: 60px;
}

.about_page_container img {
  width: 100%;
  display: block;
  border-radius: var(--radius);
  height: 500px;
  object-fit: cover;
}

.about_page_container p {
  line-height: 2;
  margin: 0 auto;
  color: var(--clr-grey-5);
  margin-top: 30px;
}

.title {
  text-align: center;
}

.underline {
  width: 90px;
  height: 3px;
  background: var(--clr-primary-5);
  margin: 0 auto;
  margin-top: 10px;
}

@media (min-width: 992px) {
  .about_page_container {
    grid-template-columns: 1fr 1fr;
  }

  .title {
    text-align: left;
  }

  .underline {
    margin: 0;
    margin-top: 10px;
  }
}
