.totals_container {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}

.totals_content {
  border: 1px solid var(--clr-grey-8);
  border-radius: var(--radius);
  padding: 22.5px 45px;
}

.totals_content h4,
.totals_content h5,
.totals_content p {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.totals_content h4 {
  margin-top: 30px;
  font-size: 25px;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-1);
}

.totals_content h4 span {
  color: var(--clr-grey-1);
}

.totals_content h5 {
  margin-bottom: 12px;
  color: var(--clr-grey-1);
  font-size: 16px;
}

.totals_content h5 span {
  color: var(--clr-grey-1);
}

.totals_content p {
  margin-bottom: 20px;
  color: var(--clr-grey-3);
}

.totals_content p span {
  color: var(--clr-grey-3);
}

.checkout_link {
  text-decoration: none;
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-10);
  padding: 5px 10px;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 400;
  transition: var(--transition);
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  border-color: transparent;
}

.checkout_link:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}

@media (min-width: 776px) {
  .totals_container {
    justify-content: flex-end;
  }

  .checkout_link {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    font-weight: 700;
  }
}
